nav {
      background-color: #333;
      padding: 10px;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    nav ul li {
      position: relative;
    }

    nav ul li a {
      color: white;
      padding: 10px 15px;
      display: block;
      text-decoration: none;
    }

    nav ul li:hover {
      background-color: #444;
    }

    nav ul li ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #444;
      min-width: 150px;
      flex-direction: column;
    }

    nav ul li:hover ul {
      display: block;
    }

    nav ul li ul li a:hover {
      background-color: #555;
    }